name: Bump a new Version

on:
  push:
    branches: [ "main", "cicd" ]

jobs:
  version:
    permissions:
      contents: 'write'

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # Auto increment version
      - name:  'Automated Version Bump'
        uses:  'phips28/gh-action-bump-version@master'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag-prefix:  'v'
          PACKAGEJSON_DIR:  'frontend'
          bump-policy: 'ignore'
